.countdown-container {
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .countdown-number {
    font-size: 8rem;
    font-weight: bold;
    color: #ffffff;
    animation: zoomInOut 1s ease-in-out;
  }
  
  @keyframes zoomInOut {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
  }
  